<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webAppDay25</display-name>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>ai.jobiak.app.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/open1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>intro</servlet-name>
    <servlet-class>ai.jobiak.app.Intro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>intro</servlet-name>
    <url-pattern>/open2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>factorial</servlet-name>
    <servlet-class>ai.jobiak.app.FactorialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>factorial</servlet-name>
    <url-pattern>/open3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jdbc</servlet-name>
    <servlet-class>ai.jobiak.app.JdbcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbc</servlet-name>
    <url-pattern>/open4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lifecycle</servlet-name>
    <servlet-class>ai.jobiak.app.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lifecycle</servlet-name>
    <url-pattern>/open5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStringServlet</display-name>
    <servlet-name>QueryStringServlet</servlet-name>
    <servlet-class>ai.jobiak.http.QueryStringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStringServlet</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>links.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>to process html form data</description>
    <display-name>SignupForm1Servlet</display-name>
    <servlet-name>SignupForm1Servlet</servlet-name>
    <servlet-class>ai.jobiak.http.SignupForm1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupForm1Servlet</servlet-name>
    <url-pattern>/open6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JdbcConfigServlet</display-name>
    <servlet-name>JdbcConfigServlet</servlet-name>
    <servlet-class>ai.jobiak.http.JdbcConfigServlet</servlet-class>
    <init-param>
      <description>username for db</description>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <description>db password</description>
      <param-name>password</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <description>mysql connector url</description>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/world</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcConfigServlet</servlet-name>
    <url-pattern>/open7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>ai.jobiak.http.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>B</display-name>
    <servlet-name>B</servlet-name>
    <servlet-class>ai.jobiak.http.B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>C</display-name>
    <servlet-name>C</servlet-name>
    <servlet-class>ai.jobiak.http.C</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C</servlet-name>
    <url-pattern>/c</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>counter</param-name>
    <param-value>25</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>DisplayServletDb</display-name>
    <servlet-name>DisplayServletDb</servlet-name>
    <servlet-class>ai.jobiak.http.DisplayServletDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServletDb</servlet-name>
    <url-pattern>/open8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mailAppServlet</display-name>
    <servlet-name>mailAppServlet</servlet-name>
    <servlet-class>ai.jobiak.http.mailAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailAppServlet</servlet-name>
    <url-pattern>/open9</url-pattern>
  </servlet-mapping>

</web-app>